@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&family=Montserrat:wght@700;800;900&family=PT+Serif:ital@0;1&family=Playfair+Display:wght@500&family=Poppins:wght@400;500&family=Ubuntu&family=Vollkorn:ital,wght@0,400;1,400;1,600&display=swap');

:root {
  --titleFont: 'Playfair Display', serif;
  --textFont: 'PT Serif', serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-bottom: clamp(2rem, 3vw, 2.5rem);
  background-color: rgb(255, 255, 255);
}

.heading {
  padding-bottom: clamp(3.5rem, 1vw, 4rem);
  padding-right: clamp(9.25rem, 7vw, 9.5rem);
}

.heading h1,
.heading h2 {
  font-family: var(--titleFont);
  font-size: clamp(3.5rem, 10vw, 8rem);
  text-align: right;
  color: #ddf6ff;
}

.box1 .box2 {
  display: flex;
  flex-direction: column;
}

.box2 {
  padding-top: clamp(11.5rem, 2vw, 12.5rem);
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: clamp(1rem, 6vw, 4rem);
  width: clamp(88rem, 2vw, 88.5rem);
}

.box2 .innercontent {
  padding-left: clamp(6.25rem, 3vw, 6.5rem);
}

.innercontent p {
  color: #9aaebc;
  font-family: var(--textFont);
  font-weight: 400;
  font-size: clamp(0.25rem, 3vw, 1rem);
  width: clamp(25rem, 2vw, 25.5rem);
}

.innercontent h3 {
  font-family: 'Lexend-Deca';
  font-weight: 700;
  font-size: clamp(2rem, 1vw, 5rem);
}

.innercontent h6 {
  color: #15a6dd;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: clamp(1.25rem, 1vw, 1.75rem);
  margin-bottom: clamp(0.25rem, 1vw, 0.50rem);
}

.innercontent {
  margin-bottom: clamp(1.5rem, 6vw, 4rem);
}

.imagebig,
.image {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: clamp(11.75rem, 7vw, 12rem);
}

.imagebig img,
.image img {
  position: absolute;
  box-shadow: 34px -39px 0px 4px rgba(143, 218, 245, 0.75);
  -webkit-box-shadow: 34px -39px 0px 4px rgba(143, 218, 245, 0.75);
  -moz-box-shadow: 34px -39px 0px 4px rgba(143, 218, 245, 0.75);
}

.line {
  margin-top: clamp(6rem, 2vw, 6.5rem);
  margin-left: clamp(2rem, 2vw, 2.5rem);
  margin-right: clamp(2rem, 2vw, 2.5rem);
  margin-bottom: clamp(10rem, 2vw, 10.5rem);
  background-color: #70838a;
  height: 3px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1000px) {
  .box1 .box2 {
    width: clamp(49rem, 2vw, 49.5rem);
  }

  .heading {
    width: clamp(350px, 10vw, 80vw);
    margin-left: clamp(30px, 2vw, 5vw);
  }

  .heading h1,
  .heading h2 {
    text-align: left;
  }

  .content {
    flex-direction: row;
    width: clamp(350px, 10vw, 80vw);
    margin-left: clamp(30px, 2vw, 5vw);
    justify-content: center;
  }

  .innercontent {
    justify-content: center;
  }

  .box2 .innercontent {
    margin-left: clamp(30px, 2vw, 5vw);
    padding-left: 0;
  }

  .innercontent p {
    width: clamp(350px, 10vw, 80vw);
  }

  .image,
  .imagebig {
    padding: clamp(500px, 2vw, 80vw) 0 0 0;
  }
}
