.header{
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% 100%; */
    height: clamp(32rem,60vw,32.5rem);
    display: flex;
    /* gap: 5rem; */
    align-items: flex-end;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.body{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.header>h1{
    font-family: var(--titleFont);
    font-style: normal;
    font-weight: bold;
    font-size: clamp(5rem, 6vw, 5.25rem);
    color: var(--HighlightLogo, #DDF6FF);
    margin-left: clamp(5rem, 6vw, 5.25rem);
}

.innerbody>h1, .resources>h1, .roadmap>h1{
    font-family:var(--titleFont);
    font-weight: 700;
    font-size: clamp(2.5rem, 5vw, 2.75rem);
}

.innerbody>h2, .resources>h2, .roadmap>h2{
    font-family: var(--textFont);
    color: var(--Primary-Blue, #15A6DD);
    font-weight: 500;
}

.innerbody>p{
    font-family: var(--textFont);
    font-weight: 400;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    color: var(--Secondary-light-gray, #9AAEBC);
    padding-top: clamp(0.5rem,2vw,0.75rem);
    width: 90%;
}

.innerbody, .resources, .roadmap{
    margin-top: clamp(2rem,4vw,2.25rem);
}

.links{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 30px 100px; 
    margin-top: 2rem;
}

.logo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 70%;
    height: clamp(2rem, 4vw, 2.5rem);
    border-bottom: solid 1px black;
}

.logo img{
    width: 7%;
    height: auto;
}

.logo p{
    font-family: var(--textFont);
    font-weight: 400;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    color: var(--Secondary-light-gray, #9AAEBC);
}

.links div{
    display: flex;
    border-bottom: 1px solid #9AAEBC;
    justify-content: space-between;
}